<!DOCTYPE html>
<html>
<head>

<title>Food Donation Form</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<h1>Food Donation Form</h1>

<form action="/submit" method="POST">

<input type="text" name="event_name" placeholder="Event Name" required>

<input type="text" name="city" placeholder="City" required>

<input type="text" name="event_place" placeholder="Event Place" required>

<input type="text" name="contact" placeholder="Contact Number" required>

<input type="text" name="food_type" placeholder="Food Type" required>

<input type="text" name="quantity" placeholder="Quantity" required>

<input type="text" name="expiry" placeholder="Food Expiry Time" required>

<input type="hidden" name="latitude" id="lat">
<input type="hidden" name="longitude" id="lon">

<br>

<button type="button" onclick="getLocation()">Get Live Location</button>

<br><br>

<button type="submit">Submit</button>

</form>

</div>

<script>

function getLocation(){

navigator.geolocation.getCurrentPosition(function(position){

document.getElementById("lat").value = position.coords.latitude;
document.getElementById("lon").value = position.coords.longitude;

alert("Location captured!");

});

}

</script>

</body>
</html>