<!DOCTYPE html>
<html>

<head>

<title>FoodLink AI</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="main-container">

<div class="card">

<h1>Food Donation Form</h1>

<p class="subtitle">ONE  DONATION  CAN  FEED  MANY  LIVES.</p>

<form action="/submit" method="POST">

<input type="text" name="event_name" placeholder="Event Name" required>

<input type="text" name="city" placeholder="City" required>

<input type="text" name="event_place" placeholder="Event Place" required>

<input type="text" name="contact" placeholder="Contact Number" required>

<input type="text" name="food_type" placeholder="Food Type" required>

<input type="text" name="quantity" placeholder="Quantity (plates)" required>

<input type="text" name="expiry" placeholder="Food Expiry (hours)" required>

<input type="hidden" name="latitude" id="lat">
<input type="hidden" name="longitude" id="lon">

<div class="buttons">

<button type="button" class="location-btn" onclick="getLocation()">
📍 Get Live Location
</button>

<button type="submit" class="submit-btn">
Donate Food
</button>

</div>

</form>

</div>

</div>

<script>

function getLocation(){

navigator.geolocation.getCurrentPosition(function(position){

document.getElementById("lat").value = position.coords.latitude;
document.getElementById("lon").value = position.coords.longitude;

alert("Location Captured Successfully");

});

}

</script>

</body>
</html>