<!DOCTYPE html>
<html>
<head>
<title>FoodLink AI</title>
</head>

<body>

<h2>Food Donation Form</h2>

<form action="/submit" method="POST">

Event Place Name
<input type="text" name="event_place"><br><br>

Location
<input type="text" name="location"><br><br>

City
<input type="text" name="city"><br><br>

Food Type
<input type="text" name="food"><br><br>

Quantity
<input type="text" name="quantity"><br><br>

Spoilage Time
<input type="text" name="spoilage"><br><br>

<button type="submit">Submit</button>

</form>

</body>
</html>