<!DOCTYPE html>
<html>

<head>

<title>NGO Dashboard</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1 style="text-align:center;color:white;margin-top:40px;">
Available Food Donations
</h1>

<table>

<tr>

<th>Event</th>
<th>City</th>
<th>Place</th>
<th>Contact</th>
<th>Food</th>
<th>Quantity</th>
<th>Expiry</th>
<th>Location</th>
<th>Pickup</th>

</tr>

{% for row in data %}

<tr>

<td>{{row[1]}}</td>
<td>{{row[2]}}</td>
<td>{{row[3]}}</td>
<td>{{row[4]}}</td>
<td>{{row[5]}}</td>
<td>{{row[6]}}</td>
<td>{{row[7]}}</td>

<td>

<a href="https://www.google.com/maps?q={{row[8]}},{{row[9]}}" target="_blank">

<button>View Location</button>

</a>

</td>

<td>

<a href="/delete/{{row[0]}}">

<button style="background:red;">Pickup</button>

</a>

</td>

</tr>

{% endfor %}

</table>

</body>

</html>